.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00AEEF;
    padding: 20px;
    color: white;
    top: 0;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  